/*========================================
>>>>>  C-O-L-O-R  V-A-R-I-A-B-L-E-S  <<<<<
========================================*/
/*========================================
>>>>>>  G-E-N-E-R-A-L  S-T-Y-L-E-S  <<<<<<
========================================*/
* {
  box-sizing: border-box; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #3E2A35; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

/*=======================================
>>>>>>>>  H - E - A - D - E - R  <<<<<<<<
========================================*/
header {
  background-color: #3E2A35;
  text-align: center;
  padding: 60px; }

.header-container {
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  color: #938284; }

h1 {
  display: inline-block;
  margin: 0 0 2.5rem;
  color: #FFF;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 1px; }
  h1 img {
    height: 0.9em;
    margin: 0 -7px; }

.input-title-container,
.input-caption-container {
  position: relative; }
  .input-title-container label,
  .input-caption-container label {
    text-align: left;
    display: block;
    position: absolute;
    top: -23%; }

input {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.6em;
  padding: .2em;
  border: 5px solid transparent;
  transition: all 300ms; }
  input:focus {
    outline: none;
    border: 5px solid #E26D5A; }

.buttons {
  width: 100%;
  text-align: left; }

.button {
  width: 42%;
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #5B4447;
  border: 0;
  display: inline-block;
  color: #FFF;
  text-align: center; }
  .button:hover:not([disabled]) {
    background-color: #938284;
    cursor: pointer; }
  .button[disabled] {
    cursor: not-allowed;
    background-color: #4c3441; }

#save-button {
  float: right; }

/*========================================
>>>>>>>  P-H-O-T-O  G-A-L-L-E-R-Y  <<<<<<<
========================================*/
.gallery {
  background-color: #C2B2B4;
  min-height: 450px;
  padding: 50px;
  position: relative; }
  .gallery.message::after {
    position: absolute;
    content: "Click 'Choose File' to add a new photo to the gallery";
    text-align: center;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: #5b4447;
    opacity: 0.3; }

.card-container {
  margin: 0 auto; }

.card {
  position: relative;
  text-align: left;
  color: #5B4447;
  width: 20%;
  margin: 2.5%;
  border: 1px solid #5B4447;
  background-color: #FFF;
  display: inline-block; }
  .card h2 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    padding: 0.6em; }
  .card figure {
    margin: 0; }
  .card figcaption {
    padding: 0.6em;
    font-size: 0.9em;
    line-height: 1.3;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .card .card-image {
    display: block;
    width: 100%;
    height: 150px;
    background: url("https://www.placecage.com/400/300");
    background-size: cover;
    background-position: center; }
    .card .card-image:hover {
      cursor: zoom-in; }
  .card .icons {
    width: 100%;
    background-color: #5B4447;
    padding: 8px;
    padding-bottom: 5px; }
    .card .icons img {
      height: 20px; }
    .card .icons img[dataButtonType="delete"]:hover {
      cursor: pointer; }
    .card .icons div[dataButtonType="favorite"] {
      height: 20px;
      width: 20px;
      float: right; }
      .card .icons div[dataButtonType="favorite"]:hover {
        cursor: pointer; }
      .card .icons div[dataButtonType="favorite"].default {
        background: url("assets/favorite.svg") no-repeat; }
      .card .icons div[dataButtonType="favorite"].favorite-active {
        background: url("assets/favorite-active.svg") no-repeat; }

/*=======================================
>>>>>>>>  P-H-O-T-O  M-O-D-A-L  <<<<<<<<
========================================*/
.photo-modal {
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: 80%;
  position: fixed;
  left: 0;
  top: 0; }
  .photo-modal:hover {
    cursor: zoom-out; }

.close-modal {
  position: absolute;
  margin: 0;
  top: 1em;
  right: 1em;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5); }
  .close-modal:hover {
    cursor: pointer;
    color: #E26D5A; }

/*=======================================
>>>>>>>>  F - O - O - T - E - R  <<<<<<<<
========================================*/
footer {
  color: #938284;
  font-size: 0.7em;
  padding: 2em; }
  footer p {
    display: inline-block; }
    footer p:last-child {
      float: right; }
  footer .student-name {
    color: #E26D5A; }

/*========================================
>>>>>>>  M-E-D-I-A  Q-U-E-R-I-E-S  <<<<<<<
========================================*/
@media (min-width: 1300px) {
  .card .card-image {
    height: 250px; } }
@media (max-width: 1000px) {
  header {
    padding: 40px; }

  .header-container {
    width: 80%; }

  h1 {
    line-height: 0.85em; }

  .card {
    width: 45%; }
    .card .card-image {
      height: 300px; }
    .card .icons img {
      height: 30px; }
    .card .icons div[dataButtonType="favorite"] {
      width: 30px;
      height: 30px; }
    .card .icons div[dataButtonType="favorite"].default {
      background: url("assets/favorite.svg") no-repeat; }
    .card .icons div[dataButtonType="favorite"].favorite-active {
      background: url("assets/favorite-active.svg") no-repeat; } }
@media (max-width: 750px) {
  header {
    padding: 30px; }

  .header-container {
    width: 100%; }

  h1 {
    font-size: 3em; }

  .gallery {
    padding: 30px 0; }
    .gallery.message::after {
      font-size: 1.5em; }

  .card-container {
    padding: 0; }

  .card .card-image {
    height: 200px; } }
@media (max-width: 550px) {
  .card {
    font-size: 25px;
    width: 90%;
    margin: 5%; }
    .card figcaption {
      height: 100%; }
    .card .icons img {
      height: 40px; }
    .card .icons div[dataButtonType="favorite"] {
      width: 40px;
      height: 40px; }
    .card .icons div[dataButtonType="favorite"].default {
      background: url("assets/favorite.svg") no-repeat; }
    .card .icons div[dataButtonType="favorite"].favorite-active {
      background: url("assets/favorite-active.svg") no-repeat; } }
@media (max-width: 450px) {
  header {
    padding: 20px; }

  h1 {
    font-size: 2em;
    margin-bottom: 0; }

  .input-title-container label,
  .input-caption-container label {
    top: 21%;
    font-size: 1em; }

  input {
    margin: 3rem 0 0; }

  .button {
    margin-top: 1.5rem;
    font-size: .8em;
    width: 46%; }

  .gallery.message::after {
    font-size: 1.2em; }

  .card .card-image {
    height: 200px; }

  footer {
    font-size: .6em; } }

/*# sourceMappingURL=styles.css.map */
